<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Perspective\DbScripts\Model\Post" 
                type="Perspective\Thema17ChangeDbScripts\Model\PrefName" />
    <preference for="Perspective\DbScripts\ViewModel\Post" 
                type="Perspective\Thema17ChangeDbScripts\ViewModel\Post" />
</config>